{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 110,
  "trailingComma": "es5",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@globalUtils/(.*)$",
    "^@src/(.*)$",
    "^@globalTypes/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
